@import 'global/util.module.scss';

.header {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-top: 10px;
}

.util {
    @include size($content-width, 25px);
    display: flex;
    justify-content: flex-end;
    li {
        display: inline-block;
        margin-left:10px;
        @include font(black, normal, 300, 1.2rem);
    }
}

.container {
    @include size($content-width, 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @include font($theme-color, normal, 500, 4rem);
}

.search {
    @include size(300px, 40px);
    border: 2px solid $theme-color;
    display: flex;
    input {
        padding: 0 10px;
        border: none;
        @include size(260px, 100%);
        @include font(black, normal, 300, 1.6rem);
        outline: none;
    }
    button {
        border: 0px;
        @include size(40px, 100%);
        background-color: $theme-color;
        @include font(white, normal, 300, 1.6rem);
    }
}

.gnb {
    @include size(100%, 40px);
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    @include flex-center();
    ul {
        padding-inline-start: 0px;
    }
    li {
        display: inline-block;
        margin: 0 10px;
        @include font($dark-gray, normal, 400, 1.6rem);
        &:hover {
            color: $theme-color;
        }
    }
}