@import 'styles/util.module.scss';

.commentList {
    margin-bottom: 1rem;
    ul {
        padding-inline-start: 0;
        list-style-type: none;
    }
    li:not(:last-child) {
        border-bottom: 1px solid $light-gray;
    }
}
