@import 'styles/util.module.scss';

.postList {
    width: 100%;
    border-top: 2px solid $theme-color;
    border-bottom: 1px solid $theme-color;
    th {
        height: 35px;
        border-bottom: 1px solid $dark-gray;
        @include font($dark-gray, normal, 400, 1.6rem);
    }
    tr:not(:last-child) {
        td {
            border-bottom: 1px solid $light-gray;
        }
    }
}
