@import 'styles/util.module.scss';

.gnb {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    @include size(100%, 40px);
    @include flex-center();
    ul {
        padding-inline-start: 0px;
    }
    li {
        display: inline-flex;
        margin: 0 10px;
        @include font($dark-gray, normal, 400, 1.6rem);
        &:hover {
            color: $theme-color;
        }
    }
}
