@import 'styles/util.module.scss';

.gnb {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    @include size(100%, 40px);
    @include flex-center();
}

.mainMenu {
    padding-inline-start: 0px;
}

.mainMenuList {
    display: inline-flex;
    width: 12rem;
    margin: 0 10px;
    line-height: 38px;
    justify-content: center;
    @include font($dark-gray, normal, 400, 1.6rem);
    &:hover {
        ul {
            display: block;
        }
    }
    a {
        &:hover {
            color: $theme-color;
        }
    }
}
