@import 'styles/util.module.scss';

.content {
    .title {
        @include font($theme-color, normal, 400, 2rem);
    }
}

.topArea {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 2px solid $black;
    padding-bottom: 1rem;
}

.topButtonArea {
    margin-left: auto;
}

.userInfo {
    display: flex;
    width: 100%;
    justify-content: center;
}
