@import 'styles/util.module.scss';

.boardLayout {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.content {
    width: calc(#{$content-width} - 420px);
}
