@import 'styles/util.module.scss';

.searchBar {
    display: flex;
    border: 2px solid $theme-color;
    @include size(var(--width), var(--height));
    input {
        padding: 0 10px;
        border: none;
        outline: none;
        @include size(calc(var(--width) - 40px), 100%);
        @include font(black, normal, 300, 1.6rem);
    }
    button {
        border: 0px;
        background-color: $theme-color;
        @include size(40px, 100%);
        @include font(white, normal, 300, 1.6rem);
    }
}
