@import 'styles/util.module.scss';

.infoTabs {
    height: 40px;
    border-bottom: 1px solid $light-gray;
    ul {
        line-height: 38px;
        padding-inline-start: 0px;
        li {
            display: inline-flex;
            margin: 0 10px;
        }
    }
}
