@import 'styles/util.module.scss';

.userInfo {
    display: flex;
    width: 100%;
    h1 {
        @include font(black, normal, 400, 3rem);
    }
    th {
        text-align: initial;
        @include font(black, normal, 600, 1.4rem);
    }
}

.profileWrapper {
    margin-right: 1rem;
    @include flex-center();
    @include size(25rem, 20rem);
}

.profile {
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    @include size(20rem, 20rem);
}
.info {
    width: calc(100% - 26rem);
}

.basicInfo {
    height: 9rem;
}

.infoTable {
    width: 100%;
    height: 11rem;
}
