@import '/styles/util.module.scss';

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top: 1px solid $light-gray;
}

.container {
    padding: 20px;
    width: 1170px;
    text-align: center;
    @include font(black, normal, 300, 1.4rem);
    line-height: 2;
    a {
        @include font($theme-color, normal, 400, 1.4rem);
        &:hover {
            text-decoration: underline;
        }

    }
}