@import 'global/util.module.scss';

.title {
    padding-bottom: 10px;
    border-bottom: 2px solid $theme-color;
    margin-bottom: 10px;
    a {
        @include font($theme-color, normal, 400, 2.4rem);
    }
}