@import 'styles/util.module.scss';

.banner {
    height: 10rem;
    margin: 1rem 0 1rem 0;
    line-height: 10rem;
    text-align: center;
    background-color: $light-gray;
    @include font(white, normal, 400, 3rem);
}
