@import 'styles/util.module.scss';

.signup {
    width: 350px;
    border: 1px solid $light-gray;
    box-shadow: 0 1px 3px 0 $light-gray;
    form {
        width: 100%;
        padding: 30px;
        header {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            @include font(black, normal, 300, 1.4rem);
        }
        div {
            border: 1px solid $light-gray;
            margin-bottom: 10px;
            @include size(100%, 40px);
            input {
                padding: 0 10px;
                border: none;
                outline: none;
                @include font(black, normal, 300, 1.6rem);
                @include size(100%, 100%);
            }
            &:focus-within {
                border: 1px solid $theme-color;
            }
        }
        button {
            border: 0px;
            margin-top: 20px;
            background-color: $theme-color;
            @include size(100%, 40px);
            @include font(white, normal, 300, 1.6rem);
            &:hover {
                cursor: pointer;
            }
        }
    }
}
