@import 'styles/util.module.scss';

.button {
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $theme-color;
    cursor: pointer;
    @include font(white, normal, 400, 1.4rem);
}
