@import 'styles/util.module.scss';

.board {
    header {
        h1 {
            margin-bottom: 1rem;
            @include font($theme-color, normal, 400, 2rem);
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
