@import 'styles/util.module.scss';

.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @include responsive-width($content-width, 90%);
}

.logo {
    @include font($theme-color, normal, 500, 4rem);
}
